@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$color1: darkblue;
$color2: white;

* {
	font-family: 'Roboto';
}

header {
	margin: 10px;
	h1 {
		font-weight: 200;
	}

	// Small devices (landscape phones, 576px and up)
	@media screen and (min-width: 576px) {
		img {
			padding-left: 25%;
			padding-bottom: 50%;
		}

		#logo {
			width: 30%;
			display: inline-block;
		}
	
		#heading {
			width: 70%;
			display: inline-block;
		}
	}

	// Medium devices (tablets, 768px and up)
	@media screen and (min-width: 768px) {
		height: 35vh;

		img {
			padding-left: 40%;
			padding-bottom: 10%;
		}
		#logo {
			width: 30%;
			display: inline-block;
		}
	
		#heading {
			width: 70%;
			display: inline-block;
		}
	}

	#buttons {
		button {
			width: 250px;
			height: 50px;
			border-top-right-radius: 10px;
			border-bottom-left-radius: 10px;
			margin-right: 10px;
			margin-bottom: 10px;
			font-weight: 600;
			@media screen and (max-width: 576px) {
				display: block;
				width: 100%;
			}
		}

		#login {
			background-color: $color1;
			color: $color2;
			border: none;
		}

		#guest {
			background-color: $color2;
			color: $color1;
			border-color: $color1;
		}
		
	}
}

#menu {
	@media screen and (min-width: 768px) {
		height: 60vh;
	}
	background-color: rgb(135, 206, 235);
	padding: 10px;
	height: 100%;
	width: inherit;

	ul {
		list-style: none;
	}

	.menu-item {
		$margin: 12px;
		$padding-v: 20px;
		padding-top: $padding-v;
		padding-bottom: $padding-v;
		padding-left: 2.5em;
		margin-bottom: $margin;
		margin-top: $margin;
		border-radius: 5px;
		font-size: 1.5em;
		font-weight: lighter;
		background-color: white;
	}
}
