<header>
  <div id="logo">
    <img src="../assets/trueblue-logo.png" alt="Trueblue Logo">
  </div>
  <div id="heading">
    <h1>Book faster with TrueBlue.</h1>

    <div>Sign in to your TrueBlue account and earn points for this flight and book faster.</div>
    <br>

    <div id="buttons">
      <button id="login">Sign-in</button>
      <button id="guest">Continue as a guest</button>
    </div>

  </div>
</header>

<br>

<section id="menu">
  <ul id="menu-list">
    <li *ngFor="let menu_item of menu" class="menu-item">
      {{count(menu_item)}}
      {{menu_item | titlecase}}
    </li>
  </ul>
</section>
<router-outlet></router-outlet>
